<div class="container text-center my-4">
    <nav class="navbar bg-primary navbar-expand-lg navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">SISTEMA WEB</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" href="/">Cadastrar</a>
                    <a class="nav-link" href="/consulta">Consultar</a>
                </div>
            </div>
        </div>
    </nav>
    <div class="custom-bg">
        <div class="container mt-4">
            <div class="alert alert-success alert-dismissible fade show" id="alerta" style="display: none;"
                role="alert">
                Agendamento adicionado com sucesso!
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <p class="text-start fs-5">Cadastrar - Agendamento de Potenciais Clientes</p>
            <p class="text-start fs-6">Sistema Utilizado para agendamento de serviços.</p>
            <form id="form-cadastro" action="/cadastrar" method="POST">
                <div class="mb-3 text-start">
                    <label for="nome" class="form-label">Nome:</label>
                    <input type="text" name="nome" class="form-control"  autocomplete="off" onkeypress="return blockNumbers(event.keyCode);"  placeholder="Digite o seu nome" id="nome">
                </div>
                <div class="mb-3 text-start">
                    <label for="telefone" class="form-label">Telefone:</label>
                    <input type="tel" name="telefone" class="form-control" id="telefone"  autocomplete="off" placeholder="(00) 00000-0000"
                        oninput="mascaraTelefone(event)">
                </div>
                <div class="mb-3 text-start">
                    <label for="origem" class="form-label">Origem:</label>
                    <select name="origem" class="form-select" aria-label="Default select example" id="origem">
                        <option value="celular">Celular</option>
                        <option value="whatsapp">Whatsapp</option>
                        <option value="telefone_fixo">Telefone Fixo</option>
                    </select>
                </div>
                <div class="mb-3 text-start">
                    <label for="data_contato" class="form-label">Data do Contato:</label>
                    <input type="date" name="data_contato" class="form-control" id="data_contato">
                </div>
                <div class="mb-3 text-start">
                    <label for="observacao" class="form-label">Observação:</label>
                    <textarea name="observacao" class="form-control" id="observacao"   autocomplete="off"style="height: 100px"></textarea>
                </div>
                <div class="mb-3 text-start">
                    <button type="submit" class="btn btn-primary">Cadastrar</button>
                </div>
            </form>
        </div>
    </div>
</div>
<style>
    .custom-bg {
        background-color: #d7e2ed;
        padding: 20px;
    }
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
    // Função para aplicar a máscara de telefone
    function mascaraTelefone(event) {
        let input = event.target;
        let value = input.value.replace(/\D/g, '');
        let formattedValue = '';

        if (value.length > 10) {
            formattedValue = `(${value.substring(0, 2)}) ${value.substring(2, 7)}-${value.substring(7, 11)}`;
        } else if (value.length > 5) {
            formattedValue = `(${value.substring(0, 2)}) ${value.substring(2, 6)}-${value.substring(6, 10)}`;
        } else if (value.length > 2) {
            formattedValue = `(${value.substring(0, 2)}) ${value.substring(2, 6)}`;
        } else {
            formattedValue = value;
        }

        input.value = formattedValue;
    }

    // Event listener para o formulário de cadastro
    document.getElementById('form-cadastro').addEventListener('submit', function (event) {
        event.preventDefault(); // Evita o envio padrão do formulário

        fetch('/cadastrar', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                nome: document.getElementById('nome').value,
                telefone: document.getElementById('telefone').value,
                origem: document.getElementById('origem').value,
                data_contato: document.getElementById('data_contato').value,
                observacao: document.getElementById('observacao').value
            })
        }).then(function (response) {
            if (response.ok) {
                document.getElementById('alerta').style.display = 'block'; // Mostra o alerta de sucesso
                document.getElementById('form-cadastro').reset(); // Limpa o formulário
            }
        });
    });

       // Função que bloqueia letras 
    function blockletras(keypress) {
        // campo senha - bloqueia letras                               
        if (keypress >= 48 && keypress <= 57) {
            return true;
        } else {
            return false;
        }
    }

    function blockNumbers(keypress) {
        // Campo onde você deseja bloquear números
        if (keypress < 48 || keypress > 57) {
            return true;
        } else {
            return false;
        }
    }
</script>